<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<form action="#" th:action="@{/add}" th:object="${breed}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="subBreed">Sub Breed</label>
    <input type="text" th:field="*{subBreed}" id="subBreed" placeholder="Sub Breed">
    <span th:if="${#fields.hasErrors('subBreed')}" th:errors="*{subBreed}"></span>

    <input type="submit" value="Add Breed">
</form>